
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1, h2, p{
    margin: 0;
    padding: 0;
}
  
a{
    text-decoration: none;
    color: inherit;
}
  
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  

header{
    background-color: #2a2a2a;
    color: white;
    padding: 20px 0;
    text-align: center;
}
  
.profile-header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
  
.profile-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    object-fit: cover;
}
  
.user-info{
    max-width: 600px;
    text-align: left;
}
  
.user-name{
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 10px;
}
  
.user-bio{
    font-size: 1.2em;
    color: #cccccc;
    line-height: 1.5;
    margin-top: 10px;
}
  
  /* Navigation Menu Styles */
.nav-menu{
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}
  
.nav-menu ul{
    display: flex;
    justify-content: center;
}
  
.nav-menu li {
    margin: 0 15px;
}
  
.nav-menu a {
    color: white;
    font-size: 1.2em;
    padding: 8px 16px;
    transition: background-color 0.3s;
}
  
.nav-menu a:hover {
    background-color: #575757;
    border-radius: 5px;
}
  
  /* Section Styles */
section {
    padding: 40px 20px;
    text-align: center;
}
  
section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}
  
  /* Responsive Design */
/* @media (max-width: 768px) {
    .profile-header {
      flex-direction: column;
      text-align: center;
}
  
    .profile-img {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .user-info {
      max-width: 100%;
    }
  
    .nav-menu ul {
      flex-direction: column;
    }
  
    .nav-menu li {
      margin-bottom: 10px;
    }
  } */
  